<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/clientes">Clientes</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Formulario para agregar producto -->
  <ion-item>
    <ion-label position="floating">Nombre del Producto</ion-label>
    <ion-input [(ngModel)]="valorNombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea [(ngModel)]="valorDescripcion"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cantidad</ion-label>
    <ion-input type="number" [(ngModel)]="valorCantidad"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Precio de Costo</ion-label>
    <ion-input type="number" [(ngModel)]="valorPrecioCosto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Precio de Venta</ion-label>
    <ion-input type="number" [(ngModel)]="valorPrecioVenta"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">URL de Imagen</ion-label>
    <ion-input [(ngModel)]="urlProducto"></ion-input>
  </ion-item>

  <!-- Botones para agregar, actualizar y cancelar -->
  <ion-button *ngIf="!actualizarBoton" expand="block" (click)="Agregar()">Agregar Producto</ion-button>
  <ion-button *ngIf="actualizarBoton" expand="block" color="success" (click)="Actualizar()">Actualizar</ion-button>
  <ion-button *ngIf="actualizarBoton" expand="block" color="warning" (click)="Cancelar()">Cancelar</ion-button>

  <!-- Lista de productos -->
  <ion-list>
    <ion-item *ngFor="let producto of productos; let i = index">
      <ion-card>
        <img [src]="producto.url" alt="Imagen del producto" />
        <ion-card-header>
          <ion-card-title>{{ producto.nombre }}</ion-card-title>
          <ion-card-subtitle>{{ producto.descripcion }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Cantidad: {{ producto.cantidad }}</p>
          <p>Precio de Costo: {{ producto.precioCosto }}</p>
          <p>Precio de Venta: {{ producto.precioVenta }}</p>
          <ion-button color="danger" (click)="Borrar(i)">Eliminar</ion-button>
          <ion-button color="primary" (click)="Editar(i)">Editar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
